body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.429);
}

.stopwatch {
    border: 1px solid  #043906;
    box-shadow:10px 10px rgb(143, 20, 82);
    text-align: center;
    background-color: rgba(255, 99, 71, 0.146);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #192b13;
    color: white;
}

button:hover {
    background-color: #204315;
}